<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/aplayer/1.10.1/APlayer.min.css">

    <title>咪咕播放器aplayer_vue3</title>
</head>

<body>
    <div class="container">

        <div id="app"></div>
        <div class="jumbotron" style="margin-bottom:0">
            <div class="fixed-bottom">
                <p></p>
                <div id="aplayer"></div>
            </div>
        </div>
    </div>

    <template id="my-app">
        <h3>咪咕播放器aplayer_vue3</h3>
        播放器操作：
        <button class="btn btn-info mr-2 btn-sm" @click="clear_player()">清空列表</button>
        <button class="btn btn-info mr-2 btn-sm" @click="add_player()">添加到列表</button>
        <div class="input-group mb-3 row">
            <input type="search" class="input-group-prepend form-control col" v-model="search.keyword">
            <!-- <select class="input-group-prepend custom-select col-sm" id="inputGroupSelect01" v-model="type">
                <option selected>类型</option>
                <option value="song">song</option>
                <option value="playlist">playlist</option>
                <option value="100">歌手</option>
                <option value="1000">歌单</option>
                <option value="1002">用户</option>
                <option value="1004">MV</option>
                <option value="1006">歌词</option>
                <option value="1009">电台</option>
                <option value="1014">视频</option>
                <option value="1018">综合</option>
            </select> -->
            <button class="btn btn-info col-sm" @click="searchMusic()">获取数据</button>
        </div>



        <div v-if="count">
            <!-- <span class="input-group">显示数量：<input type="number" v-model.lazy="limit" max="99" min="1"></span> -->
            <span class="mr-2">获取数量：{{count}}</span>
            <span class="mr-2" v-if="compute_info">当前显示：{{search.pageNo}}-{{compute_info.length}}</span>
            <span class="mr-2">第{{search.pageNo}}页</span>
        </div>

        <!-- {{compute_info}} -->
        <div class="row row-cols-2 row-cols-md-3  row-cols-lg-6">
            <template v-for="item in compute_info" :key="item.id">
                <div class="col mb-2">
                    <div class="card">
                        <img v-if=item.album :src="item.album.picUrl" class="card-img-top" alt="...">
                        <!-- <div class="card-header"> -->

                        <!-- </div> -->
                        <ul class="list-group list-group-flush ">
                            <div class="card-text d-flex justify-content-between align-items-start">
                                <b :data-id="item.id">{{item.name}}</b>
                                <!-- 播放是否可用：{{item.check}} -->
                                <!-- <button class="btn btn-sm badge" :class="[item.check? 'btn-info': 'btn-secondary']"
                                    @click="getplayMusic(item)" :disabled="!item.check">播放</button> -->
                                <button class="btn btn-sm btn-info badge" @click="playMusic(item)">播放</button>
                            </div>
                            <div class="card-text" v-if=item.artists>艺人：
                                <template class="artist mr-2" v-for="artist in item.artists">
                                    <span class="mr-2" :data-id="artist.id">
                                        {{artist.name}}
                                    </span>
                                </template>
                            </div>

                            <div class="card-text" v-if=item.album>专辑：
                                <span :data-id=item.album.id :data-name=item.album.name
                                    @click="artistAlbum(item.album.id)">{{item.album.name}}</span>
                            </div>

                            <div class="card-text text-right">
                                <!-- 按钮：用于打开模态框 -->
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                    :data-target="'#moreModal'+item.id" :id="item.id">
                                    更多操作
                                </button>

                                <!-- 模态框 -->
                                <div class="modal fade" :id="'moreModal'+item.id">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">

                                            <!-- 模态框头部 -->
                                            <!-- <div class="modal-header">
                                            <h4 class="modal-title">更多操作</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div> -->

                                            <!-- 模态框主体 -->
                                            <div class="modal-body text-left">
                                                <div>
                                                    <template class="artist mr-2" v-for="artist in item.artists">
                                                        <div class="mr-2" :data-id="artist.id">
                                                            {{artist.name}}
                                                            <button class="btn btn-outline-secondary btn-sm mr-2"
                                                                @click="get_artistDesc(artist.id)">歌手描述</button>
                                                            <button class="btn btn-outline-secondary btn-sm mr-2"
                                                                @click="get_artistDetail(artist.id)">歌手详情</button>
                                                            <button class="btn btn-outline-secondary btn-sm mr-2"
                                                                @click="artistTopSong(artist.id)">热门曲</button>
                                                            <button class="btn btn-outline-secondary btn-sm mr-2"
                                                                @click="artistSongs(artist.id)">全部</button>
                                                        </div>
                                                    </template>

                                                </div>
                                                <div>专辑：
                                                    <button class="btn btn-outline-secondary btn-sm"
                                                        :data-id=item.album.id :data-name=item.album.name
                                                        @click="artistAlbum(item.album.id)">{{item.album.name}}</button>
                                                </div>
                                                <div class="showView">
                                                    <button class="btn btn-sm btn-outline-secondary"
                                                        @click="getplayMusic(item,item.privilege.pl)">播放最高码率</button>

                                                    <button class="btn btn-sm btn-outline-secondary" v-if=item.id
                                                        @click="playFlacMusic(item)">播放无损</button>
                                                </div>
                                                <div>
                                                    <button class="btn btn-sm btn-outline-secondary" v-if=item.id
                                                        @click="getMusic(item)">音乐信息</button>
                                                    <button class="btn btn-sm btn-outline-secondary" v-if=item.id
                                                        @click="getLyric(item)">音乐歌词</button>
                                                </div>
                                            </div>

                                            <!-- 模态框底部 -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">关闭</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ul>
                    </div>
                </div>
            </template>
        </div>
        <div v-if="count && compute_info" class="mb-3">
            <span class="mr-2">获取数量：{{count}}</span>
            <span class="mr-2" v-if="compute_info">
                当前显示：{{compute_info.length*(search.pageNo-1)+1}}-{{compute_info.length*(search.pageNo)}}</span>
            <div>
                <button class="btn btn-secondary" v-if="search.pageNo>1" @click="searchMusic(nextpage=-1)">上一页</button>
                <span class="ml-2 mr-2">第{{search.pageNo}}页</span>
                <button class="btn btn-secondary" @click="searchMusic(nextpage=1)"
                    v-if="(count/(compute_info.length))>search.pageNo">下一页</button>
            </div>

        </div>

        <div v-if="musicListCount">总数量：{{musicListCount}}，选项：
            {{musicOption}}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">排序</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" v-model="musicOption.order">
                    <option value="hot">热门(从高到低)</option>
                    <option value="-hot">热门(从低到高)</option>
                    <option value="time">时间(正序)</option>
                    <option value="-time">时间(反序)</option>
                </select>
                <input type="number" v-model="musicOption.limit">
            </div>

            <span class="mr-2">当前显示：{{musicOption.offset+1}}-
                {{musicListCount>(musicOption.offset+musicOption.limit) ?
                (musicOption.offset+musicOption.limit):musicListCount}}条</span>
            <button class="btn btn-secondary" v-if="musicOption.offset>0"
                @click="artistSongs(musicOption.id,-1)">上一页</button>
            <span class="ml-2 mr-2">第{{musicOption.offset/musicOption.limit+1}}页</span>
            <button class="btn btn-secondary" @click="artistSongs(musicOption.id,1)"
                v-if="musicListCount>(musicOption.offset+musicOption.limit)">下一页</button>
        </div>
        <div v-if="compute_musicList">
            <table class="table  table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">index</th>
                        <th scope="col">name</th>
                        <th scope="col">album</th>
                        <th scope="col">pop</th>
                    </tr>
                </thead>
                <template v-for="music,index in compute_musicList">
                    <tr>
                        <th scope="row">{{index+1}}</th>
                        <td :id="music.id">
                            <button class="btn btn-sm mr-2" :class="[music.check? 'btn-info': 'btn-secondary']"
                                @click="getplayMusic(music)" :disabled="!music.check">{{music.name}}</button>
                            <template v-for="ar in music.ar">
                                <span class="mr-1">{{ar.name}}</span>
                            </template>
                        </td>
                        <td><button class="btn btn-info btn-sm" :data-id=music.al.id :data-name=music.al.name
                                @click="artistAlbum(music.al.id)">{{music.al.name}}</button>
                        </td>
                        <td>{{music.pop}}</td>
                    </tr>
                </template>

            </table>
            <div v-if="musicListCount">
                <span class="mr-2">当前显示：{{musicOption.offset+1}}-{{musicOption.offset+musicOption.limit}}条</span>
                <button class="btn btn-secondary" v-if="musicOption.offset>0"
                    @click="artistSongs(musicOption.id,-1)">上一页</button>
                <span class="ml-2 mr-2">第{{musicOption.offset/musicOption.limit+1}}页</span>
                <button class="btn btn-secondary" @click="artistSongs(musicOption.id,1)"
                    v-if="musicListCount>(musicOption.offset+6)">下一页</button>
            </div>
        </div>
        <div v-if="artistDesc">{{artistDesc}}</div>
    </template>

    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/3.2.20/vue.global.min.js"></script>
    <!-- <script src="https://cdn.staticfile.org/vue/2.6.9/vue.min.js"></script> -->
    <script src="https://cdn.staticfile.org/aplayer/1.10.1/APlayer.min.js"></script>
    <!-- <script src="https://cdn.staticfile.org/hls.js/1.0.11/hls.min.js"></script> -->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script>
        const ap = new APlayer({
            container: document.getElementById('aplayer'),
            audio: [{
                name: '怀集音乐之声',
                artist: '蜻蜓FM',
                url: 'https://lhttp.qingting.fm/live/4804/64k.mp3',
                cover: 'https://pic.qingting.fm/2020/1016/20201016121634.png!200',
                lrc: '',
                // type: 'hls'
            },
            {
                name: '羊城交通台',
                artist: '蜻蜓FM',
                url: 'https://lhttp.qtfm.cn/live/1262/64k.mp3',
                cover: 'https://pic.qingting.fm/2016/0627/2016062715553137.png!200',
                lrc: '',
                // type: 'hls'
            },
            {
                name: '广州交通电台',
                artist: '蜻蜓FM',
                url: 'https://lhttp.qtfm.cn/live/4955/64k.mp3',
                cover: 'https://pic.qingting.fm/2016/0412/20160412212622806.png!200',
                lrc: '',
                // type: 'hls'
            }
            ],
            volume: 1,
            fixed: true,
            lrcType: 3,
            listFolded: true,   // 默认false, 列表折叠
            preload: 'none',	// 预加载，可选值: 'none', 'metadata', 'auto'
            // listMaxHeight: 90,  //	列表最大高度
            loop: 'none',  //	音频循环播放, 可选值: 'all', 'one', 'none'
        })

        const App = {
            template: '#my-app',
            mixins: [ap],
            data() {
                return {
                    // api: "https://api-mymusic.vercel.app/",
                    // api: "http://jeff.guanhaobio.com:522/music_play/api/",
                    // api: "http://3805.0759jiaoyu.com:3880/api/NeteaseCloudMusicApi/",
                    api: "../../api/MiguMusicApi/",
                    count: "",
                    info: '',
                    search: {
                        keyword: "陈瑞",     // 搜索关键词 必填
                        type: "song",        // 默认 song，支持：song, playlist, mv, singer, album, lyric
                        pageNo: 1       // 默认 1
                    },
                    musicUrl: "",
                    musicList: "", // 音乐信息
                    musicListCount: "", // 获取音乐数量
                    musicOption: {
                        id: "",
                        order: '',   // hot ,time 按照热门或者时间排序musicOption
                        // limit: 50,
                        offset: 0
                    },
                    artistDesc: "", // 歌手描述
                    audio: {
                        name: '',
                        artist: '',
                        url: '',
                        cover: '',
                        lrc: '',
                        // theme: '#ebd0c2',
                        // lrcUrl: '',
                        br: "",
                        size: "",
                        level: "",
                        check: "", // 音乐是否可用
                    }, // 播放器
                }
            },
            watch: {
                audio: {//深度监听，可监听到对象、数组的变化
                    handler(val, oldVal) {
                        // console.log("audio.lrc: " + val.lrc, oldVal.lrc);
                        // console.log('audio.lrc类型：', typeof val)
                    },
                    deep: true //true 深度监听
                }
            },
            methods: {
                searchMusic(nextpage) {
                    // console.log("nextpage为：", nextpage)
                    // console.log("this.offset为：", this.offset)
                    let data = this.info;
                    if (nextpage === 1) {
                        this.search.pageNo += 1
                    } else if (nextpage === -1) {
                        this.search.pageNo -= 1
                    } else {
                        this.search.pageNo = 1
                    }
                    // this.info = '加载中...'
                    if (this.info) {
                        this.info = '';
                        this.musicDetails = '';
                        this.artistDesc = '';
                    }
                    // let url = this.api + "/cloudsearch?keywords=" + this.search + "&limit=" + this.limit + "&offset=" + this.offset

                    axios
                        .get(this.api + "search", {
                            params: this.search
                        })
                        .then(response => (
                            console.log('搜索到的数据：', response),
                            this.info = response.data.data
                        ))
                        .catch((err) => console.error('获取error: ', err.message, this.info = err))
                },
                //  歌手热门50首歌曲/artist/top/song?id=6452
                artistTopSong(artist_id) {
                    let url = this.api + "/artist/top/song?id=" + artist_id
                    axios
                        .get(url)
                        .then(response => (
                            // console.log('歌手热门50首歌曲：', response),
                            // console.log('歌曲数量：', response.data.total),
                            this.musicListCount = response.data.total,
                            this.musicList = response.data.songs
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                            this.musicDetails = error;
                        })

                },
                /*  
                歌手全部歌曲/artist/songs?id=6452
                */
                artistSongs(artist_id, nextpage) {
                    let url = this.api + "/artist/songs"
                    this.musicOption.id = artist_id
                    if (nextpage === 1) {
                        this.musicOption.offset += this.musicOption.limit
                    } else if (nextpage === -1) {
                        this.musicOption.offset -= this.musicOption.limit
                    } else {
                        this.offset = 0
                    }

                    axios
                        .get(url, {
                            params: {
                                id: artist_id,
                                order: this.musicOption.order,   // hot ,time 按照热门或者时间排序musicOption
                                limit: this.musicOption.limit,   // limit: 取出歌单数量 , 默认为 50
                                offset: this.musicOption.offset   // offset: 偏移数量 , 用于分页 , 如 :( 评论页数 -1)*50, 其中 50 为 limit 的值
                            }
                        })
                        .then(response => (
                            // console.log('歌手全部歌曲：', response.data),
                            // console.log('歌曲数量：', response.data.total),
                            this.musicListCount = response.data.total,
                            this.musicList = response.data.songs
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                            this.musicList = error;
                        })

                },
                //  获取专辑内容/album?id=32311
                artistAlbum(id) {
                    let url = this.api + "/album?id=" + id
                    axios
                        .get(url)
                        .then(response => (
                            console.log('专辑内容：', response),
                            console.log('歌曲数量：', response.data.total),
                            this.musicListCount = response.data.total,
                            this.musicList = response.data.songs
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                            this.musicList.name = error;
                        })

                },
                //  获取歌曲详情/song/detail?ids=347230
                getMusic(id, name) {
                    let url = this.api + "/song/detail?ids=" + id
                    axios
                        .get(url)
                        .then(response => (
                            // this.info = response.data.result,
                            console.log('获取到的数据为：', response),
                            this.musicList = response.data.songs
                            // console.log('this.$refs.audio为：', this.$refs.audio),
                            // this.$refs.audio.src = this.musicUrl
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        })
                },
                //  获取歌手描述/artist/desc?id=6452
                get_artistDesc(id) {
                    let url = this.api + "/artist/desc?id=" + id
                    axios
                        .get(url)
                        .then(response => (
                            // this.info = response.data.result,
                            console.log('获取到的数据为：', response),
                            this.artistDesc = response.data
                            // console.log('this.$refs.audio为：', this.$refs.audio),
                            // this.$refs.audio.src = this.musicUrl
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        })
                },
                //  获取歌手详情/artist/detail?id=11972054
                get_artistDetail(id) {
                    let url = this.api + "/artist/detail?id=" + id
                    axios
                        .get(url)
                        .then(response => (
                            // this.info = response.data.result,
                            console.log('获取到的数据为：', response),
                            this.artistDesc = response.data
                            // console.log('this.$refs.audio为：', this.$refs.audio),
                            // this.$refs.audio.src = this.musicUrl
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        })
                },
                // 获取并播放音乐 /song/url?id=33894312
                getplayMusic(data, br) {
                    // this.info = '加载中...'

                    // console.log("艺术家：", data.ar, JSON.stringify(data.ar))
                    // console.log("类型：", data.ar.join("&"))  // 合并艺术家
                    artist = []
                    for (i in data.ar) {
                        // console.log("艺术家:", data.ar[i].name)
                        artist.push(data.ar[i].name)
                    }
                    this.audio.artist = artist.join("&")
                    // this.audio.artist = data.ar[0].name
                    this.audio.cover = data.al.picUrl
                    this.$options.methods.getLyric(this.api + "/lyric?id=" + data.id, this)

                    let url = this.api + "/song/url?id=" + data.id
                    if (br) {
                        url += "&br=" + br
                    }

                    axios
                        .get(url)
                        .then(response => (
                            console.log('获取音乐地址：', response),
                            this.audio.name = data.name + "_" + parseInt(response.data.data[0].br / 1000) + "K_" + this.$options.methods.toSize(response.data.data[0].size),
                            this.musicUrl = response.data.data[0].url,
                            // this.$refs.audio.src = response.data.data[0].url,
                            this.audio.br = response.data.data[0].br,
                            this.audio.size = response.data.data[0].size,
                            this.audio.level = response.data.data[0].level,
                            this.audio.url = response.data.data[0].url,
                            // this.$options.methods.getLyric(this.api + "/lyric?id=" + data.id), // 获取歌词
                            // ap.list.add(audios: array | object): 添加一个或几个新音频到播放列表
                            // ap.list.add([this.audio]),
                            ap.list.add([{
                                name: this.audio.name,
                                artist: this.audio.artist,
                                url: this.audio.url,
                                cover: this.audio.cover,
                                lrc: this.audio.lrc,
                                theme: '#ebd0c2'
                            }]),
                            console.log("播放列表：", ap.list.audios),
                            ap.list.switch(ap.list.audios.length - 1),
                            ap.play(),
                            ap.list.show()
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        })
                },
                // 获取歌词 /lyric?cid=
                getLyric(music) {
                    axios
                        .get(this.api + "/lyric?cid=" + music.cid)
                        .then(response => (
                            console.log('lrc数据：', response)
                            // console.log('音乐是否可用：', response.data.success),
                            // _this.audio.lrc = response.data.data
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log("请求失败:", error)
                            // music.check = error
                        })

                },
                playMusic(music) {
                    // this.musicUrl = music.url
                    // this.$refs.audio.src = url
                    axios.get(this.api + "/lyric?cid=" + music.cid)
                        .then(response => (
                            console.log('lrc数据：', response),
                            // console.log('音乐是否可用：', response.data.success),
                            music.lrc = response.data.data,
                            ap.list.add([{
                                name: music.name,
                                artist: music.artist,
                                url: music.url,
                                cover: music.album.picUrl,
                                lrc: music.lrc,
                                // theme: '#ebd0c2'
                            }]),
                            ap.list.switch(ap.list.audios.length - 1),
                            ap.play(),
                            ap.on('error', function () {
                                console.log('播放错误')
                                alert('播放错误')
                                ap.pause()
                            })
                        ))
                        .catch(function (error) { // 请求失败处理
                            console.log("请求失败:", error);
                            // music.check = error
                        })

                },
                // 播放无损 /song/url?cid=
                playFlacMusic(music) {
                    let artist = []
                    for (let i in music.artists) {
                        // console.log("艺术家:", data.ar[i].name)
                        artist.push(music.artists[i].name)
                    }
                    artists = artist.join("&")
                    let musicUrl = this.api + "song/url?cid=" + music.cid + "&flac=1"
                    let lrcUrl = this.api + "/lyric?cid=" + music.cid
                    axios.all([
                        axios.get(musicUrl),
                        axios.get(lrcUrl)
                    ])
                        .then((resAll) => (
                            console.log("获取结果合集：", resAll),
                            url = resAll[0].data.data,
                            mylrc = resAll[1].data.data,
                            ap.list.add([{
                                name: music.name + "(无损)",
                                artist: artists,
                                url: url,
                                cover: music.album.picUrl,
                                lrc: mylrc
                                // theme: '#ebd0c2'
                            }]),
                            // console.log("播放列表：", ap.list.audios),
                            ap.list.switch(ap.list.audios.length - 1),
                            ap.play()
                        ))
                },
                // 清空播放器列表
                clear_player() {
                    ap.list.clear()
                },
                add_player() {
                    // console.log("播放器操作")
                    ap.list.add([{
                        name: 'name',
                        artist: 'artist',
                        url: 'url.mp3',
                        cover: 'cover.jpg',
                        lrc: 'lrc.lrc',
                        // theme: '#ebd0c2'    // 主题色，默认'#b7daff
                    }]);
                },
                // 时间戳转换    date:时间戳数字
                formatDate(date) {
                    var date = new Date(date);
                    var YY = date.getFullYear() + '-';
                    var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                    var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
                    var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
                    var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
                    var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
                    if (date.getHours() == 0 && date.getMinutes() == 0 && date.getSeconds() == 0) {
                        date = YY + MM + DD
                    } else {
                        date = YY + MM + DD + " " + hh + mm + ss
                    }
                    return date
                },

                // 文件容量换算
                toSize(bytes) {
                    if (bytes === 0) return '0 B';
                    var k = 1000, // or 1024
                        sizes = ['B', 'K', 'M', 'G', 'T', 'P', 'E', 'Z', 'Y'],
                        i = Math.floor(Math.log(bytes) / Math.log(k));
                    return (bytes / Math.pow(k, i)).toPrecision(3) + '' + sizes[i];
                },
                // 显示隐藏按钮
                showhide_btn(e) {
                    console.log("e为：", e.target, e.currentTarget)
                    $('.showView').toggle()
                    // $('.showView').popover()
                },
                get_popover(e) {
                    console.log("e为：", e.target, e.currentTarget)
                    console.log("e为：", e)
                    console.log("e.target.button为：", e.button.data)
                    $('#123').popover()
                }
            },
            computed: {
                compute_info: function () {
                    // console.log("数据类型：",typeof this.info)
                    if ((typeof this.info) === "object") {
                        let data = this.info
                        for (i in data) {
                            if (i === 'total') {
                                // console.log("数量：", typeof data[i], data[i])
                                // console.log("数量this：", this)
                                this.count = parseInt(data[i])
                            }
                            else if (i === 'list') {
                                // console.log("对象：", typeof data[i], data[i])
                                // let check = ""
                                // for (j in data[i]) {
                                //     let music = data[i][j]
                                //     // 音乐是否可用. /check/music
                                //     // 说明: 调用此接口,传入歌曲 id, 可获取音乐是否可用,返回 { success: true, message: 'ok' } 或者 { success: false, message: '亲爱的,暂无版权' }
                                //     let check = (async function () {
                                //         let api = "../../api/MiguMusicApi/"
                                //         // let api = this.api
                                //         // let url = api + "/check/music?id=" + music.id
                                //         // console.log('音乐url：', url)
                                //         return axios
                                //             .get(url)
                                //             .then(response => (
                                //                 // console.log('音乐是否可用返回数据：', response),
                                //                 // console.log('音乐是否可用：', response.data.success),
                                //                 music.check = response.data.success
                                //             ))
                                //             .catch(function (error) { // 请求失败处理
                                //                 console.log("请求失败:", error);
                                //                 // music.check = error
                                //             })
                                //     }())

                                // check = (async function () { let res = await this.$options.methods.check_music(data[i][j].id) })()

                                // console.log("音乐状态：", music.id, music.name, music)
                                // }
                                this.info = data[i]
                            }
                        }

                        // this.info = response.data.result,
                        // console.log(this.info)
                        return this.info
                    }
                },
                compute_musicList: function () {
                    let data = this.musicList
                    let check = ""
                    for (let item in data) {
                        let music = data[item]
                        // 音乐是否可用. /check/music
                        // 说明: 调用此接口,传入歌曲 id, 可获取音乐是否可用,返回 { success: true, message: 'ok' } 或者 { success: false, message: '亲爱的,暂无版权' }
                        let check = (async function () {
                            let api = "http://3805.0759jiaoyu.com:3880/api/NeteaseCloudMusicApi"
                            // let api = this.api
                            let url = api + "/check/music?id=" + music.id
                            // console.log('音乐url：', url)
                            return axios
                                .get(url)
                                .then(response => (
                                    // console.log('音乐是否可用返回数据：', response),
                                    // console.log('音乐是否可用：', response.data.success),
                                    music.check = response.data.success
                                ))
                                .catch(function (error) { // 请求失败处理
                                    console.log("请求失败:", error);
                                    // music.check = error
                                })
                        }())
                    }
                    this.musicList = data
                    return this.musicList
                }
            }
        }

        Vue.createApp(App).mount('#app');
    </script>



</body>

</html>